apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  SA_PASSWORD: Q2F0YWxvZ280MDRAMjAyNQ==
  ConnectionStrings__DefaultConnection: U2VydmVyPWRiLWJ1cmd1ZXI0MDQtc2VydmljZTtEYXRhYmFzZT1JZGVudGlkYWRlREI7VXNlciBJZD1zYTtQYXNzd29yZD1DYXRhbG9nbzQwNEAyMDI1O1RydXN0U2VydmVyQ2VydGlmaWNhdGU9VHJ1ZQ==

