apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  SA_PASSWORD: QnVyZ3VlcjQwNEAyMDI1JkZpYXBAVHJvcGFEYVBvcw==
  ConnectionStrings__IdentidadeConnection: U2VydmVyPWRiLWlkZW50aWRhZGUtc2VydmljZTtEYXRhYmFzZT1JZGVudGlkYWRlREI7VXNlciBJZD1idXJndWVyYWRtaW47UGFzc3dvcmQ9QnVyZ3VlcjQwNEAyMDI1JkZpYXBAVHJvcGFEYVBvcztUcnVzdFNlcnZlckNlcnRpZmljYXRlPVRydWU7