name: SonarQube, Build, Push e Deploy no AKS

on:
  workflow_run:
    workflows: ["CI - Tests"]
    types: [completed]
    branches: [main]

  workflow_dispatch:

env:
  DOCKER_API_IMAGE: murilodev96/burguer404-identidade
  TF_DIR: infra/terraform
  K8S_DIR: k8s
  AZURE_RESOURCE_GROUP: rg-identidade
  AZURE_AKS_CLUSTER: aks-burguer404

jobs:
  infra:
    runs-on: ubuntu-latest
    name: Provisionar Infraestrutura

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Login na Azure via Service Principal
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Importar recursos existentes se necess치rio
        working-directory: ${{ env.TF_DIR }}
        run: bash import-resources.sh

      - name: Terraform Init
        working-directory: ${{ env.TF_DIR }}
        run: terraform init

      - name: Terraform Plan
        working-directory: ${{ env.TF_DIR }}
        run: terraform plan

      - name: Terraform Apply
        working-directory: ${{ env.TF_DIR }}
        run: terraform apply -auto-approve

      - name: Aguardar o Cluster AKS ficar pronto
        run: |
          az aks wait \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --name ${{ env.AZURE_AKS_CLUSTER }} \
            --created \
            --timeout 180

  build:
    runs-on: ubuntu-latest
    name: Build e Push da Imagem
    needs: infra

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push da API
        run: |
          docker build -t $DOCKER_API_IMAGE:${{ github.sha }} -f Identidade.Api/Dockerfile .
          docker push $DOCKER_API_IMAGE:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    name: Atualizar Deploy no AKS
    needs: build

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Login na Azure via Service Principal
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Obter credenciais do AKS
        run: |
          az aks get-credentials \
            --resource-group $AZURE_RESOURCE_GROUP \
            --name $AZURE_AKS_CLUSTER \
            --overwrite-existing --admin

      - name: Atualizar deploys no AKS
        run: |
          sed -i "s|murilodev96/burguer404-identidade:TAG_NOVA_VERSAO|murilodev96/burguer404-identidade:${{ github.sha }}|g" $K8S_DIR/backend-deployment.yaml

          kubectl apply -f $K8S_DIR/configmap.yaml
          kubectl apply -f $K8S_DIR/secret.yaml
          kubectl apply -f $K8S_DIR/db-deployment.yaml
          kubectl apply -f $K8S_DIR/db-service.yaml
          kubectl apply -f $K8S_DIR/backend-deployment.yaml
          kubectl apply -f $K8S_DIR/backend-service.yaml
          kubectl apply -f $K8S_DIR/hpa-backend.yaml
          kubectl apply -f $K8S_DIR/metrics.yaml
